<template>
  <div class="crud-dialog">
    <v-dialog v-model="dialog" persistent attach>
      <v-card>
        <v-card-title class="d-flex justify-space-between align-center">
          <div>
            <v-icon v-if="item.type == 'directory'">mdi-folder</v-icon>
            <v-icon v-if="item.type == 'file'">mdi-file</v-icon>
            <span class="ml-4">{{item.name}}</span>
          </div>
          <v-icon @click.native="close">mdi-close</v-icon>
        </v-card-title>
        <v-card-text>
          <Table v-if="item.type == 'directory'" v-bind="tblCfg" />
          <v-list v-else>
            <v-list-item v-for="(value, i) in item" :key="i">
              <b class="mr-4">{{i}}</b> {{value}}
            </v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'crud-dialog',
  props: {
    state: {
      type: Boolean,
      default: false
    },
    item: {
      type: [Array, Object]
    }
  },
  components: {
    Table: () => import('@/components/elements/table')
  },
  data: () => ({
    dialog: false
  }),
  methods: {
    close() {
      this.$emit('close:modal')
    }
  },
  computed: {
    tblCfg() {
      return {
        headers: [
          { text: 'Type', value: 'type' },
          { text: 'Name', value: 'name' },
          { text: 'Hash', value: 'hash' },
          { text: 'Time', value: 'time' },
          { text: 'Size', value: 'size' }
        ],
        items: this.item.files
      }
    }
  },
  watch: {
    state(val) {
      this.$set(this.$data, 'dialog', val)
    }
  }
}
</script>

<style lang="scss" scoped>
  .crud-dialog {
    .v-icon {
      cursor: pointer;
    }
  }
</style>