<template>
  <div class="search">
    <v-autocomplete v-bind="$props" v-on="inputListeners" />
  </div>
</template>

<script>
export default {
  name: 'search',
  props: {
    items: { type: Array },
    placeholder: { type: String }
  },
  computed: {
    inputListeners: function () {
      var vm = this
      return Object.assign({},
        this.$listeners,
        {
          'update:search-input': function ($event) {
            vm.$emit('input', $event)
          }
        }
      )
    }
  }
}
</script>

<style lang="scss" scoped>
  .search {
    // ..
  }
</style>