<template>
  <div class="home">
    <v-container fluid>
      <v-row>
        <v-col>
          <Select @change="changeVersion"
            :items="_versions"
            :value="_versions[0]" />
        </v-col>
        <!-- <v-col>
          <search placeholder="Enter package" @input="searchInput" />
        </v-col> -->
      </v-row>
      <v-row>
        <v-col>
          <Table v-bind="tblCfg" @options="updateTable">
            <template v-slot:type="{ item }">
              <v-icon v-if="item.type == 'directory'">mdi-folder</v-icon>
              <v-icon v-if="item.type == 'file'">mdi-file</v-icon>
            </template>
          </Table>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

import Table from '@/components/elements/table'
import Select from '@/components/elements/select'
// import search from '@/components/layouts/search'

export default {
  name: 'Home',
  components: { Table, Select },
  methods: {
    ...mapActions(['versions', 'search', 'packages']),
    changeVersion($event) {
      this.packages({ version: `jquery@${$event}` })
    },
    searchInput($event) {
      console.log($event)
      if($event?.length >= 4) {
        this.search($event)
      }
    },
    updateTable($event) {
      console.log($event)
    }
  },
  async created() {
    await this.versions()
    await this.packages({ version: `jquery@${this._versions[0]}` })
  },
  computed: {
    ...mapState({
      _versions: state => state.versions,
      _packages: state => state.packages
    }),
    tblCfg() {
      return {
        headers: [
          { text: 'Type', value: 'type', isSlotable: true },
          { text: 'Name', value: 'name' }
        ],
        items: this._packages?.files
      }
    }
  }
}
</script>
