<template>
  <div class="input">
    <v-text-field v-bind="$props" v-on="inputListeners" />
  </div>
</template>

<script>
export default {
  name: 'Input',
  props: {
    appendIcon: {
      type: String
    },
    label: {
      type: String
    },
    value: {
      type: String
    }
  },
  computed: {
    inputListeners: function () {
      var vm = this
      return Object.assign({},
        this.$listeners,
        {
          input: function ($event) {
            vm.$emit('input', $event)
          }
        }
      )
    }
  }
}
</script>

<style lang="scss" scoped>
  .input {
    // ..
  }
</style>