<template>
  <div class="select">
    <v-select v-bind="$props" v-on="slctListeners" />
  </div>
</template>

<script>
export default {
  name: 'Select',
  props: {
    items: { type: Array },
    value: { type: [ String, Number ] }
  },
  computed: {
    slctListeners: function () {
      var vm = this
      return Object.assign({},
        this.$listeners,
        {
          change: function ($event) {
            vm.$emit('change', $event)
          }
        }
      )
    }
  }
}
</script>

<style lang="scss" scoped>
  .select {
    // ..
  }
</style>