<template>
  <div class="table">
    <v-data-table v-bind="$props" v-on="actionListener" :search="search">
      <template v-slot:top>
        <crud-dialog :state="dialog"
          @close:modal="dialog = false"
          :item="item" />
        <Input append-icon="mdi-magnify" label="Search" @input="search = $event" />
      </template>
      <template v-for="(iter, i) in headers" :slot="`item.${iter.value}`" slot-scope="{item}">
        <slot v-if="iter.isSlotable" :name="iter.value" :item="item"></slot>
        <span v-else :key="i">{{item[iter.value]}}</span>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import crudDialog from '@/components/layouts/crud-dialog'
import Input from '@/components/elements/input'

export default {
  name: 'Table',
  props: {
    headers: { type: Array },
    items: { type: Array }
  },
  components: { crudDialog, Input },
  data: () => ({
    search: '',
    dialog: false,
    item: []
  }),
  computed: {
    actionListener: function () {
      var vm = this
      return Object.assign({},
        this.$listeners,
        {
          'update:options': function ($event) {
            vm.$emit('options', $event)
          },
          'click:row': function ($event) {
            vm.$set(vm.$data, 'dialog', true)
            vm.$set(vm.$data, 'item', $event)
          }
        }
      )
    }
  }
}
</script>

<style lang="scss" scoped>
  .table {
    // ..
  }
</style>