<template>
  <v-app>
    <v-app-bar app>
      NETHERNITE - Battleground
    </v-app-bar>
    <v-main>
      <router-view />
    </v-main>
    <v-footer app>
      Created by Eugene Tkachenko
    </v-footer>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: { },

  data: () => ({
    //
  }),
};
</script>
